<md-card>
  <md-card-header class="bgc-blue-700 tc-white">
    <div md-card-avatar class="header-image"></div>
    <md-card-title class="header-name">
     PAUL, Kon Wah LAI
    </md-card-title>
    <md-card-subtitle>
      Curriculum Vitae
    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <!--personal information-->
    <td-expansion-panel label="Personal Information" >
      <md-list>
        <md-list-item>
          <h4 md-line>Address</h4>
          <p md-line>Room G, 12/F., Block 4, Nan Fung Sun Chuen, Quarry Bay, Hong Kong</p>
        </md-list-item>
        <md-list-item>
          <h4 md-line>Mobile No.</h4>
          <p md-line>+852 9853 9314</p>
        </md-list-item>
        <md-list-item>
          <h4 md-line>Email</h4>
          <p md-line><a href="mailto:plutodark@gmail.com" target="_blank">plutodark@gmail.com</a></p>
        </md-list-item>
        <md-list-item>
          <h4 md-line>LinkedIn</h4>
          <p md-line><a href="https://www.linkedin.com/in/paul-lai-3691761/" target="_blank">https://www.linkedin.com/in/paul-lai-3691761/</a></p>
        </md-list-item>
        <md-list-item>
          <h4 md-line>Birth</h4>
          <p md-line>5th November, 1980</p>
        </md-list-item>
        <md-list-item>
          <h4 md-line>Language</h4>
          <p md-line>Cantonese, English</p>
        </md-list-item>
      </md-list>
    </td-expansion-panel>

    <!--personal information end -->

    <!--Employment history begin-->
    <td-expansion-panel label="Employment History" >
      <md-card class="bgc-yellow-100">
        <md-card-title>
          AdvB Public Affairs Consulting Limited
        </md-card-title>
        <md-card-subtitle>
          Consultant, Feb 2015 - Jan 2017
        </md-card-subtitle>
        <md-card-content>
          <p>AdvB Public Affairs Consulting specializes in strategic communication services for public policy advocacy, issue and crisis management, corporate reputation protection.</p>
          <p>My duties in the company included project management for the following projects:</p>
          <md-list>
            <md-list-item>
              <h4 md-line>Socialisn 2015 - 2016</h4>
              <p md-line>An online platform focuses on providing the social media monitoring service.</p>
              <p md-line>As the programmer in this project, my duties is system design, backend development and frontend development.</p>
              <p md-line>Reference: <a href="http://www.socialisn.com" target="_blank">http://www.socialisn.com</a></p>
            </md-list-item>
            <md-list-item>
              <h4 md-line>Read Monthly (閱刊) 2014 - 2016</h4>
              <p md-line>A monthly magazine focusing on book review. The project was solely sponsored by Sun Hung Kai Properties Limited. It has 10,000 circulation in Hong Kong.</p>
              <p md-line>As the executive editor in this project, my duties are co-ordinate between writers, graphic designer, printing and distributors of the magazine.</p>
              <p md-line>Reference: <a href="http://www.shkpreadingclub.com/tc/whatwedo/read/readmonthly/" target="_blank">http://www.shkpreadingclub.com/tc/whatwedo/read/readmonthly/</a></p>
            </md-list-item>
            <md-list-item>
              <h4 md-line>HK Fresh (香港優鮮) 2015 - 2016</h4>
              <p md-line>A Chinese publication providing information of Hong Kong wet market. The project was solely sponsored by LINK Reit. Besides the publication, it also has a Facebook Fans Page.</p>
              <p md-line>My role in this project was same as the role in Read Monthly.</p>
              <p md-line>Reference: <a href="https://www.facebook.com/HKfresh/" target="_blank">https://www.facebook.com/HKfresh/</a></p>
            </md-list-item>
            <md-list-item>
              <h4 md-line>Nam Sang Wai Development Plan (Nam Sang Wai Development Company Ltd.) 2016</h4>
              <p md-line>A brochure to explain the big picture on future Nam Sang Wai development plan.</p>
              <p md-line>My role in this project was same as the role in Read Monthly.</p>
              <p md-line>Reference: <a href="http://namsangwai.com/en/" target="_blank">http://namsangwai.com/en/</a></p>
            </md-list-item>
          </md-list>

        </md-card-content>
      </md-card>
      
      <md-card>
        <md-card-title>
          WAK Design Limited
        </md-card-title>
        <md-card-subtitle>
          Sales Executive (Europe, United Arab Emirates, Turkey), Aug 2011 - Nov 2013
        </md-card-subtitle>
        <md-card-content>
          <p>A jewellery wholesale company focuses on exporting fine jewellery to U.S.A, Middle East and Europe.</p>      
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          Glory Sun (Mfy.) Jewellery Limited
        </md-card-title>
        <md-card-subtitle>
          Sales Executive (Australia), Aug 2011 - Nov 2014
        </md-card-subtitle>
        <md-card-content>
          <p>A jewellery wholesale company focuses on exporting fine jewellery to overseas market.</p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          One One Flower
        </md-card-title>
        <md-card-subtitle>
          Co-Founder, Apr 2009 - Apr 2011
        </md-card-subtitle>
        <md-card-content>
          <p>A floral retailer in Hong Kong. It provides floral decoration service and gift design.</p>
          <p>My duties included the total management for the company.</p>
        </md-card-content>
      </md-card>

      <md-card class="bgc-yellow-100">
        <md-card-title>
          Apple Community Infonet Limited
        </md-card-title>
        <md-card-subtitle>
          Project Manager, Jan 2008 - Apr 2009 (Fold)
        </md-card-subtitle>
        <md-card-content>
          <p>A subsidiary  company of Apple Daily Limited. It focuses on the development in social media.</p>
          <p>I am responsible on the project management of startup media project - "Homebloc.com".</p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          Apple Daily Limited
        </md-card-title>
        <md-card-subtitle>
          Researcher, May 2007 - Dec 2007
        </md-card-subtitle>
        <md-card-content>
          <p>One of the most popular newspaper in Hong Kong.</p>
          <p>I was an editor on the financial page of AppleDaily, responsible to do fact-finding, copy-writing to facilitate the news production.</p>
          <p>Also, we had a daily column in the financial page called "案內人隨筆". The column focused on commenting the trend of IT market giant like Google, Apple, Facebook, Alibaba etc.</p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          Kajan Jewellery Limited
        </md-card-title>
        <md-card-subtitle>
          Sales Executive (Europe, Australia, United Arab Emirates), Oct 2005 - Apr 2007
        </md-card-subtitle>
        <md-card-content>
          <p>A jewellery wholesale company focuses on exporting fine jewellery to overseas market.</p>
        </md-card-content>
      </md-card>

      <md-card class="bgc-yellow-100">
        <md-card-title>
          Media Explorer Limited
        </md-card-title>
        <md-card-subtitle>
          Programmer, Apr 2003 - Sep 2005
        </md-card-subtitle>
        <md-card-content>
          <p>This is a digital agency. It provides services on business consultation, digital marketing planning, website and web application development services.</p>
        </md-card-content>
      </md-card>

      <md-card class="bgc-yellow-100">
        <md-card-title>
          The Hong Kong and China Gas Company Limited (Towngas)
        </md-card-title>
        <md-card-subtitle>
          Programmer, Nov 2002 - Apr 2003
        </md-card-subtitle>
        <md-card-content>
          <p>This is one of the largest energy supplier in Hong Kong.</p>
          <p>My duties was interact closely with solution vendor and Towngas corporate communication management, act as an effective liaison between two parties.</p>
        </md-card-content>
      </md-card>
    </td-expansion-panel>
    <!--Employment history end -->

    <!--Portfolio begin-->
    <td-expansion-panel label="Portfolio"  >
      <md-card>
        <md-card-title>
        Socialisn
        </md-card-title>
        <md-card-content>
        <p>Reference: <a href="http://www.socialisn.com">www.socialisn.com</a></p>
        <p>Frontend: Angular 2, Communicate with Backend by REST API.</p>
        <p>Backend: Python with Django framework, MySQL as database, running on Ubuntu, Apache server.</p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
         Website of The Real Estate Developers Association of Hong Kong
        </md-card-title>
        <md-card-content>
        <p>Reference: <a href="www.reda.hk">www.reda.hk</a></p>

        <p>The project is a company website revamp based on wordpress engine. I am responsible on the server setup, simple web design, and animation fine-tuning on the website.</p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
        Website of Hong Kong Hiking Group
        </md-card-title>
        <md-card-content>
          <p>Reference: <a href="https://hikgroup.com/">hikgroup.com</a></p>
          <p></p>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
        Freelance demo for DinoSoc
        </md-card-title>
        <md-card-content>
          <p>Reference: <a href="http://35.185.136.115:8080/#/">http://35.185.136.115:8080/#/</a></p>
        </md-card-content>
      </md-card>
    </td-expansion-panel>
    <!--Portfolio end -->

    <!--Skill-->
    <td-expansion-panel label="Skills">
      <md-list>
        <md-list-item>
          Editorial: Good in Chinese copywriting
        </md-list-item>
        <md-list-item>
          Frontend Programming: HTML, CSS, Javascript, Angular2, Ionic2, jQuery
        </md-list-item>
        <md-list-item>
          Backend Programming: Python, Django framework, MySQL, Java 
        </md-list-item>
      </md-list>
    </td-expansion-panel>
    <!--Skill End-->

    <!--Academic-->
    <td-expansion-panel label="Academic">
      <md-card>
        <md-card-title>
          Bachelor of Science - Computer Science and Software Engineering
        </md-card-title>
        <md-card-subtitle>
        Swinburne University of Technology, Melbourne, Australia
        </md-card-subtitle>
        <md-card-content>
        Graduation year: 2003
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
          Higher Diploma - Software Engineering
        </md-card-title>
        <md-card-subtitle>
        The Hong Kong Institute of Vocational Education
        </md-card-subtitle>
        <md-card-content>
        Graduation year: 2002
        </md-card-content>
      </md-card>
    </td-expansion-panel>
    <!--Academic end-->

  </md-card-content>
  
</md-card>
